<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /shreeashirwadpackersandmovers/

    # Prevent Directory Browsing
    Options -Indexes

    # Support clean URLs for inner pages in pages/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/shreeashirwadpackersandmovers/pages/$1.php -f
    RewriteRule ^([^/]+)/?$ pages/$1.php [L,QSA]

    # Support clean URLs for blog pages in pages/blog/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{DOCUMENT_ROOT}/shreeashirwadpackersandmovers/pages/blog/$2.php -f
    RewriteRule ^blog/([^/]+)/?$ pages/blog/$1.php [L,QSA]
</IfModule>
